<main class="container mt-4">
  <h3 class="mb-4">MY ORDERS</h3>

  <div *ngFor="let order of orders;index as i" class="order-card mb-4 p-3 border rounded">
    <div>
      <div class="row">
        <div class="col">
          <div class="col">
            <div class="d-flex justify-content-between">
              <div class="">
                <div>
                  <h6 class="product-name">Username: {{ order.user.username }}</h6>
                  <small class="product-category">Shipping Address: {{ order.shippingAddress }}</small>
                </div>
                <div class="mt-2">
                  <small class="product-description">Quantity: {{ order.quantity }}</small>
                </div>
              </div>
              <div class="">
                <div class="text-end">
                  <strong class="product-price">{{ order.totalAmount | currency:'INR'}}</strong>
                </div>
              </div>
              <div class="row button-container" *ngIf="expandedOrderId !== order.orderId">
                <button (click)="cancelOrder(order.orderId)" [disabled]="order.status!='PENDING'" [innerText]="order.status=='DELIVERED'?'DELIVERED':'Cancel Order'" class="cancel-button">
                </button>
                <button class="view-button" (click)="viewOrder(orders[i])">View Order</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="expandedOrderId === order.orderId">
      <p><strong>Order ID:</strong> {{ order.orderId }}</p>
      <p><strong>Shipping Address:</strong> {{ order.shippingAddress }}</p>
      <p><strong>Total Amount:</strong> {{ order.totalAmount | currency }}</p>
      <p><strong>Quantity:</strong> {{ order.quantity }}</p>
    </div>

    <div class="modal-backdrop" *ngIf="showOrderModal" (click)="closeOrderModal()" onkeypress></div>
    <div class="order-modal" *ngIf="showOrderModal">
      <div class="order-content" (click)="$event.stopPropagation()" onkeypress>

        <h4>Order Details</h4>
        <p><strong>Order ID:</strong> {{ selectedOrder.orderId }}</p>
        <p><strong>Shipping Address:</strong> {{ selectedOrder.shippingAddress }}</p>
        <p><strong>Total Amount:</strong> {{ selectedOrder.totalAmount | currency:'INR' }}</p>
        <p><strong>Quantity:</strong> {{ selectedOrder.quantity }}</p>
        <p><strong>Status:</strong> {{ selectedOrder.status }}</p>
        <div *ngFor="let product of selectedOrder.product">
          <hr class="order-separator" />
          <p><strong>Product Name:</strong> {{ product.name }}</p>
          <p><strong>Category:</strong> {{ product.category }}</p>
          <p><strong>Price:</strong> {{ product.price | currency:'INR' }}</p>
        </div>
        <button class="cancel-button" (click)="closeOrderModal()">Close</button>
      </div>
    </div>
  </div>
  

  <div *ngIf="showSuccessMessage" class="top-alert alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Order has been successfully cancelled.
    <button type="button" class="btn-close" aria-label="Close" (click)="closeSuccessMessage()"></button>
  </div>
</main>