<ng-container *ngIf="isLoggedin && userRole === 'USER'">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3" style="background: linear-gradient(to right, #2C3E50, #000000)">
    <a class="navbar-brand" routerLink="/home">SmartMart</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNavbar"
      aria-controls="userNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="userNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['user',userId,'products','viewProducts']" style="color: white;">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['user',userId,'orders']" style="color: white;">My Orders</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" >Feedbacks</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['user', userId, 'feedbacks','addfeedback']">Add Feedback</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['user', userId, 'feedbacks']">View Feedback</a>
            </li>
          </ul>
        </li>

      </ul>
 
      
      <div class="d-flex align-items-center gap-3" style="color: white;">

        <a class="nav-link position-relative" [routerLink]="['/cart',userId]">
          <i class="bi bi-cart3 fs-5"></i>
          <span *ngIf="cartItemCount > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">
             {{ cartItemCount }}
          </span>
          </a>
        <button class="btn btn-outline-light" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
</ng-container>